.page-top-banner{
  background-color: #492365;
  height: auto;
  width: 100%;
  margin: 0;
}

.banner-logo {
  max-width: 100px;
  margin: auto;
  display: block;
  vertical-align: middle;
}

.list-data {
  width: 100%;
}

.action-edit{
  max-width: 20px;
  margin-right: 2px;
}

.action-delete{
  max-width: 15px;
  margin-left: 2px;
}

.list-data, td, th {
  border: 1px solid #ededed;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ededed;
}

.error-message{
  float:left;
  margin-left: 16px;
  color: #8a6d3b;
}

